#knowledges {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    max-width: 60rem;
    min-width: 50rem;
    padding-top: 2rem;
}



#web-dev {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    align-items: center;
    justify-content: space-between;
}

.web-dev-slider-r {
    margin-left: 2rem;
}

.web-dev-slider-l {
    margin-right: 2rem;
}

#networks, #design {
    width: 100%;
    display: flex;
    margin-top: 12rem;
    align-items: center;
    justify-content: space-between;
}

#mydesign {
    width: 15rem;
    margin-left: 2rem;
}

@media screen and (max-width: 920px) {

    #knowledges {
        width: 90%;
        min-width: auto;
        max-width: 25rem;
    }

    #web-dev {
        margin: 0;
    }

    #web-dev, #design {
        flex-direction: column;
    }

    #networks {
        flex-direction: column-reverse;
    }

    .web-dev-slider-r, .web-dev-slider-l {
        margin: 1rem 0 0 0;
    }

    #networks, #design {
        margin-top: 6rem;
    }

    #mydesign {
        width: 10rem;
        margin: 1rem 0 6rem 0;
    }
}